@media screen and (min-width: 640px) {
    .title {
        max-width: 1300px;
        margin: 0 auto;
        padding: 0 20px;
        text-align: left;
    }
    
    ul.menuLinks, ul.menuLinks.open {
        display: flex;
    }
    
    #myButton {
        display: none;
    }
    nav ul {
        list-style-type: none;
    }
    
    nav ul li {
        display: inline-block;
        margin-right: 20px;
    }
    .heroImage {
        width: 1260px;
        height: 600px;
        padding: 0;
    }
    #myButton2 {
        position: absolute;
        width: 220px;
        height: 60px;
        top: 30%;
        right: 30%;
        cursor: pointer;
        background-color: var(--primary-color);
        color: var(--secondary-color);
        text-align: center;
        padding: 1rem;
        border-radius: 5px;
        box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.3);
    }


    .information {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }   
    .events {
        grid-column: 1/3;
    }
    
    .bussines { 
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    /*Discover page large*/
    .discover{
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 1fr;
    }
    .stats {
        text-align: left;
        display: block;
        padding: 1rem;
    }
    .gallery img:hover{
        box-shadow: 0 0 50px #333;
        transform: rotate(.05turn);
        border: 1px solid rgba(0,0,0,.3);
        padding: 1px;
    }
    

    footer .container {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    /*---------------FORM STYLING----------------------*/
    .wf1{
        text-align: left;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    fieldset, .submitb {
        grid-column: 1/3;
    }

}
